{% extends 'base.html.twig' %}

{% block body %}
<div class="row blackbackground">
    <div class="col-md-10">
        <h1>Sondage : Le revenu de base pour vous c'est ?</h1>
    </div>
    <div class="col-md-2 text-right">
        <span class="currentslide"></span>
    </div>
</div>
<div class="sondage">
    <!-- Stepper -->
    {# TODO : 
        1./ Enlever le bouton suivant du dernier slide 
        2./ Rendre editable les rubriques
        3./ Rendre éditable les proposition
        4./ Rendre editable les parties (choix du picto)
        5./ Faire page résultat
        6./ Faire page partage (facebook + twitter)
        7./ Les checkbox sur plusieurs colonnes
        8./ formulaire bootstrap
    #}
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
              <div class="carousel-inner">
                {{ form_start(form) }}
                    <!--slide-first-->
                    {% include "default/slide-first.html.twig" %}
                    <!--slide-->
                    {% include "default/slide.html.twig" %}
                    <!--slide-last-->
                    {% include "default/slide-last.html.twig" %}
                </form>{# /!\ workaround: formend affiche tous les champs en double#}
              </div>
        </div>
    </div>          
</div>
{% endblock %}

{% block customjs %}
    <script>
        $( document ).ready(function() {
            var totalItems = $('.carousel-item').length;
            console.log(totalItems);
            currentIndex = $('.carousel-item.active').index();
            $('.currentslide').html(''+currentIndex+'/'+totalItems+'');
            
            $('#carouselExampleIndicators').on('slide.bs.carousel', function () {
                currentIndex = $('.carousel-item.active').index() + 1;
                $('.currentslide').html(''+currentIndex+'/'+totalItems+'');
            });
        });
    </script>
{% endblock %}